{% extends "layout.html.twig" %}

{% block content %}
<div class="UKMwidth">
    <p class="lead">
        Det er du som bestemmer hvem av dine deltakere som skal få tilgang til arrangørsystemet, og hva de skal få tilgang til.
        Disse brukernavnene og passordene sendes ikke ut automatisk, og du må selv videreformidle de til deltakerne som skal ha de.
    </p>

	<p>
        Det er ingen vits i å dele ut brukernavnene hvis de ikke skal benytte de.
    </p>
	<p>
		De to listene, UKM Media og Arrangører hentes automatisk fra alle påmeldte til din mønstring.
        <br />
        Hvis personer som ikke er påmeldt skal ha tilgang må du først melde de på via 
        "<a href="?page=UKMdeltakere">deltakere</a>" i menyen.
	</p>
    <p>
        Fra tid til annen er det noen påmeldte deltakere som ikke dukker opp her. 
        Send i så fall navnene du savner til <a href="mailto:support@ukm.no?subject=Manglende deltakerbrukere">support@ukm.no</a>.
    </p>
</div>	
{% endblock %}