{% extends "layout.twig.html" %}

{% block content %}
<div class="UKMwidth">
	<h3>Del kun ut de brukernavnene du trenger</h3>
	<p class="lead">Det er ingen vits i å dele ut brukernavnene hvis deltakerne ikke skal benytte de.</p>
	<p>
		Denne modulen gir deg mulighet til å slippe deltakerne inn i systemet, med forskjellige rettighetsnivå. Alle brukerne blir hentet automatisk ut fra dine påmeldte, så hvis det mangler noen i listen, er det mest sannsynlig fordi de ikke er påmeldt.
	</p>
</div>	
{% endblock %}