<h1>Passordliste for deltakerbrukere</h1>
<p class="lead">Alle nettredaksjons- og arrangør-deltakere får sin egen bruker. På denne siden finner du alle passord til disse</p>

<div class="UKM_tabs">
	<a href="?page=UKMusers&action=tips" {{ tab_active == 'tips' ? 'class="active"' : ''}}>
		<div>
			<span class="tab_header">Tips</span>
			<img src="http://ico.ukm.no/info-button-256.png" width="25"  border="0" /><br />
			<span class="tab_description">Generell info og nettredaktører</span>
		</div>
	</a>

	<a href="?page=UKMusers&action=nettred" {{ tab_active == 'nettred' ? 'class="active"' : ''}}>
		<div>
			<span class="tab_header">Nettredaksjon</span>
			<img src="http://ico.ukm.no/people-256.png" width="25"  border="0" /><br />
			<span class="tab_description">Tilgang til bilder,video tekst</span>
		</div>
	</a>

	<a href="?page=UKMusers&action=arrangor" {{ tab_active == 'arrangor' ? 'class="active"' : ''}}>
		<div>
			<span class="tab_header">Arrangører</span>
			<img src="http://ico.ukm.no/video-256.png" width="25" border="0" /><br />
			<span class="tab_description">Tilgang til arrangørsystemet</span>
		</div>
	</a>
</div>

<div class="UKM_tabs_desc">
	<span></span>
</div>
<div class="UKM_content_wrapper">
	{% if error is defined %}
		<div class="UKMwidth">
			<div class="alert {{error.type == 'danger' ? 'alert-error alert-danger' : 'alert-'~error.type }}">
				<h4>{{error.title}}</h4>
				<p>{{error.message}}</p>
			</div>
		</div>
	{% endif %}
	{% block content %}
	{% endblock %}
</div>