<h1>Passordliste for deltakerbrukere</h1>
<p class="lead">Alle nettredaksjons- og arrangør-deltakere får sin egen bruker. På denne siden finner du alle passord til disse.</p>

<div class="col-xs-12 col-sm-10">
	<div class="alert alert-warning">Det hender fra tid til annen at noen påmeldte deltakere ikke dukker opp her. Ta i så fall kontakt med support med navnene på de det gjelder. 
		<div id="readMore1Text" style="display:none;"><br>Problemet dukker opp fordi noen har en bruker til nettsiden fra før, men har fått en ny ID eller e-post, så vi klarer ikke finne igjen den samme brukeren. Når vi prøver å opprette en ny bruker er det likevel noe informasjon som matcher slik at det ikke går.<br></div>
		<a href="#" id="readMore1">Les mer</a></div>
</div>
<div class="clearfix"></div>
<div class="UKM_tabs">
	<a href="?page=UKMusers&action=tips" {{ tab_active == 'tips' or tab_active is null ? 'class="active"' : ''}}>
		<div>
			<span class="tab_header">Tips</span>
			<img src="http://ico.ukm.no/info-button-256.png" width="25"  border="0" /><br />
			<span class="tab_description">Generell info og nettredaktører</span>
		</div>
	</a>

	<a href="?page=UKMusers&action=nettred" {{ tab_active == 'nettred' ? 'class="active"' : ''}}>
		<div>
			<span class="tab_header">Nettredaksjon</span>
			<img src="http://ico.ukm.no/geek-256.png" width="25"  border="0" /><br />
			<span class="tab_description">Tilgang til bilder,video tekst</span>
		</div>
	</a>

	<a href="?page=UKMusers&action=arrangor" {{ tab_active == 'arrangor' ? 'class="active"' : ''}}>
		<div>
			<span class="tab_header">Arrangører</span>
			<img src="http://ico.ukm.no/people-256.png" width="25" border="0" /><br />
			<span class="tab_description">Tilgang til arrangørsystemet</span>
		</div>
	</a>
</div>

<div class="UKM_tabs_desc">
	<span></span>
</div>
<div class="UKM_content_wrapper">
	{% if error is defined %}
		<div class="UKMwidth">
			<div class="alert {{error.type == 'danger' ? 'alert-error alert-danger' : 'alert-'~error.type }}">
				<h4>{{error.title}}</h4>
				<p>{{error.message}}</p>
			</div>
		</div>
	{% endif %}
	{% block content %}
	{% endblock %}
</div>