{% extends "layout.html.twig" %}

{% block content %}
    <div class="UKMwidth">
        <h3>Nettredaksjonsbrukere</h3>
        <ol class="list-group">
            <li class="list-group-item">
                <b>Nettredaktør-brukere</b>
                <br />
                Nettredaktører kan publisere innlegg, og har også tilgang til bilde-, materiell- og videomodulen.
            </li>
            <li class="list-group-item">
                <b>Nettredaksjonsbrukere</b>
                <br />
                Nettredaksjonsbrukerne kan skrive, men ikke publisere innlegg. De har også tilgang til bilde-, materiell- og videomodulen.
            </li>
        </ol>
        {% embed "list.html.twig" with {'title_upgrade': 'redaktør-bruker', 'title_downgrade': 'redaksjon-bruker', 'pakrevd_sjanger': 'media eller film' } %}{% endembed %}
    </div>
{% endblock %}