{% extends "layout.twig.html" %}

{% block content %}
<div class="UKMwidth">
	{% for key, error in errors %}
		<div class="alert alert-{{ key }}">{{ error }}</div>
	{% endfor %}

	<h3>Nettredaksjonsbrukere</h3>
	<p class="lead">Alle nettredaksjons- og filmdeltakere får automatisk bruker.<br /> Ingen blir varslet om dette, så arrangøren må selv distribuere passordene</p>
	<div class="alert alert-info">
		<div class="col-xs-6">
			<h4>Nettredaktør-brukere</h4>
			<p>Nettredaktører kan publisere innlegg, og har også tilgang til bilde-, materiell- og videomodulen.</p>
		</div>
		<div class="col-xs-6">
			<h4>Nettredaksjonsbrukere</h4>
			<p>Nettredaksjonsbrukerne kan skrive, men ikke publisere innlegg. De har også tilgang til bilde-, materiell- og videomodulen.</p>
		</div>
		<div class="clearfix"></div>
	</div>
	<table class="table table-striped">
		{% for user in users %}
		<tr>
			<td class="col-xs-12 col-sm-4 col-md-4">
				<h5>{{ user.first_name }} {{ user.last_name }}</h5>
				{% if user.role == 'author' %}
					<p class="label label-danger">Nettredaktør</p>
				{% else %}
					<p class="label label-success">Nettredaksjon</p>
				{% endif %}
			</td>
			<td class="col-xs-12 col-sm-4 col-md-4">
				<strong>{{ user.username }}</strong>
				<br />
				{{ user.password }}
			</td>
			<td class="col-sm-4 col-md-4" align="right">
				<button class="btn dropdown-toggle btn-md btn-default" type="button" id="actionsUser_{{ user.wp_id }}" data-toggle="dropdown" aria-expanded="true">
					Handlinger
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="actionsUser_{{ user.wp_id }}">
					{% if user.role == 'author' %}
						<li role="presentation">
							<a href="?page=UKMusers&action=nettred&downgrade={{ user.wp_id }}">Nedgrader til nettredaksjonsbruker</a>
						</li>
					{% else %}
						<li role="presentation">
							<a href="?page=UKMusers&action=nettred&upgrade={{ user.wp_id }}">Oppgrader til nettredaktør-bruker</a>
						</li>
					{% endif %}
				</ul>
			</td>
		</tr>
		{% else %}
		<tr class="alert alert-info">
			<td>
				<h4>Det er ikke lagt til noen nettredaksjonsbrukere enda.</h4>
				<p>
					Kan det være fordi du ikke har noen påmeldte til nettredaksjon eller film?
					Hvis du har påmeldte men ingen brukere, <a href="mailto:support@ukm.no">kontakt support</a>
				</p>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}