<h1>Administratorer</h1>
<p>
    Du kan også legge til brukere som kun skal ha tilgang til dette
    arrangementet, men ikke kunne opprette andre arrangementer.
    Det vil skje fra denne siden.
</p>

<p>
    Administrator-funksjonen er forventet klar i løpet av 2019
</p>