<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<h2>Deltakeres tilgang til ditt arrangørsystem</h2>
			{% include "wp_modul.flashbag.html.twig" %}
			<p>
				Du velger selv hvem, om noen, av dine deltakere skal ha tilgang til å logge inn.
                Kun media- og arrangørdeltakere kan få tilgang.
			    Etter du har gitt de tilgang, kan de logge inn fra samme sted som de meldte seg på
                (<a href="https://delta.{{ UKM_HOSTNAME }}/">https://delta.{{ UKM_HOSTNAME }}/</a>),
                hvor de trykker på knappen "Logg inn til arrangørsystemet".
			</p>
		</div>
		<div class="col-xs-12 col-sm-6">
			<h4>Arrangørdeltakere</h4>
			<p>
				Arrangørdeltakere har tilgang til rapporter, som vil si
                lesetilgang, uten mulighet til å endre noe. 
                Hvis du oppgraderer en arrangør-bruker, vil brukeren også få tilgang til "påmeldte" og "arrangement", 
                som vil si at de kan endre informasjon på arrangementet ditt.
			</p>
			<ul class="list-group">
				{% for innslag in filtrerteInnslag|filter( innslag => innslag.getType().getKey() == 'arrangor' ) %}
					{% include "user.html.twig" %}
				{% else %}
					Du har ingen påmeldte arrangørdeltakere.
				{% endfor %}
			</ul>
		</div>
		<div class="col-xs-12 col-sm-6">
			<h4>Mediadeltakere</h4>
			<p>
				Mediadeltakerne har tilgang til å laste opp bilder, filmer, og å skrive nyhetsartikler 
                OBS: en vanlig mediadeltaker har ikke tilgang til å publisere nyhetssakene; publisering krever en oppgradert bruker.
                Oppgraderte brukere har tilgang til å publisere nyhetssaker, og kan redigere informasjonsteksten for arrangementet.
			</p>
			<ul class="list-group">
				{% for innslag in filtrerteInnslag|filter( innslag => innslag.getType().getKey() != 'arrangor' ) %}
					{% include "user.html.twig" %}
				{% else %}
					Du har ingen påmeldte mediadeltakere.
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
